.App {
  text-align: center;
  background: url("https://obj.shine.cn/files/2019/02/26/3e5ae878-8772-4fda-b71f-f10b0f945890_0.jpg")
    no-repeat center center fixed;
}

section {
  border-radius: 25px;
  border: 2px solid #acd377;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-table;
}
